.hero.is-secondary.is-bold#homepage_container
  = video_tag('bg_video.mp4', id: 'bg_video', muted:true, autoplay: true, loop: true, autobuffer: true, controls: false)
  .hero-body.has-text-centered#homepage_content
    %h1 Witaj w
    = image_tag('highscooler_logo.png', width: 400)
    .is-divider
    .container
      .columns
        .column
          .card#teaser
            %header.card-header
              %p.card-header-icon
                %i.fas.fa-university
              %p.card-header-title Baza kierunków na polskich szkołach wyższych
            .card-content
              .content.has-text-justified
                Nasza aplikacja pomoże Ci zapoznać się z kierunkami studiów na uczelniach wyższych
                w całej Polsce, a także znaleźć opinie na ich temat!
        .column
          .card#teaser
            %header.card-header
              %p.card-header-icon
                %i.fas.fa-user-graduate
              %p.card-header-title Przeliczanie punktów rekrutacyjnych z wyników matury
            .card-content
              .content.has-text-justified
                Algorytm obliczania wyników rekrutacyjnych da Ci możliwość przewidzenia
                na który ze swoich wymarzonych kierunków masz największe szanse się dostać.
      .columns
        .column
          .card#teaser.wip
            %header.card-header
              %p.card-header-icon
                %i.fas.fa-calendar-check
              %p.card-header-title Harmonogramy rekrutacji
            .card-content
              .content.has-text-justified
                Wszystkie daty zebrane w jednym miejscu abyś sam nie musiał martwić się,
                że przegapisz termin zamknięcia zapisów czy wpłacania opłat rekrutacyjnych.
        .column
          .card.wip#teaser
            %header.card-header
              %p.card-header-icon
                %i.fas.fa-file-alt
              %p.card-header-title Kompas maturalny
            .card-content
              .content.has-text-justified
                Sprawdź co wyniki Twoich matur mówią o kierunkach studiów, które mogą Cię zainteresować.
    .is-divider
    %h1.title Nie czekaj!
    = button_to 'Dołącz do nas', new_user_registration_path, method: :get, :class => 'button button is-rounded is-large is-success'