%article.media.opinion
  %figure.media-left
    %span.icon.is-large
      %icon{class: "fas fa-#{icon} fa-3x opinion_icon"}
  .media-content
    %strong= o.user.username + '  |  ' + (o.user&.field_of_study&.name.nil? ? 'Brak informacji' : o.user.field_of_study.name)
    %br
    %p= o.body