.columns.is-variable.is-1
  .column.is-5
    .field
      .control.has-icons-left
        .select
          = f.select(:matura_subject_id, MaturaSubject.all.collect {|p| [ p.name, p.id ] })
          %span.icon.is-small.is-left
            %i.fas.fa-chalkboard-teacher
  .column.is-5
    .control
      .select
        = f.select(:level, [['Podstawowy', 'basic'], ['Rozszerzony', 'advanced']])
  .column.is-2
    .control
      = f.number_field :result, class: 'input', min: 0, max: 100