.level
  .level-item
    %h1.title Załóż konto
.level
  .level-item
    .container
      .steps
        .step-item{'v-bind:class':'[{ \'is-active\': formIndex == 0 }, { \'is-completed\': formIndex > 0 }, \'\']'}
          .step-marker
            %span.icon{'v-if':'formIndex>0'}
              %i.fa.fa-check
            %p{'v-if':'formIndex<=0'}1
          .step-details
            %p.step-title Krok 1
            %p Wprowadź swoje dane logowania.
        .step-item{'v-bind:class':'[{ \'is-active\': formIndex == 1 }, { \'is-completed\': formIndex > 1 }, \'\']'}
          .step-marker
            %span.icon{'v-if':'formIndex>1'}
              %i.fa.fa-check
            %p{'v-if':'formIndex<=1'}2
          .step-details
            %p.step-title Krok 2
            %p Wprowadź podstawowe dane na temat swojej edukacji.
        .step-item{'v-bind:class':'[{ \'is-active\': formIndex == 2 }, { \'is-completed\': formIndex > 2 }, \'\']'}
          .step-marker
            %span.icon{'v-if':'formIndex>2'}
              %i.fa.fa-check
            %p{'v-if':'formIndex<=2'}3
          .step-details
            %p.step-title Krok 3
            %p Wprowadź wyniki matur oraz interesujące Cię kierunki studiów.
        .step-item{'v-bind:class':'[{ \'is-active\': formIndex == 3 }, { \'is-completed\': formIndex >= 3 }, \'\']'}
          .step-marker
            %span.icon{'v-if':'formIndex>=3'}
              %i.fa.fa-check
            %p{'v-if':'formIndex<3'}4
          .step-details
            %p.step-title Krok 4
            %p Twoje konto zostało utworzone.