#signup-form
  = render 'devise/registrations/steps'
  .level
    .level-item
      .container
        .columns
          = render 'devise/registrations/user_form'
  .level
    .container
      .level-left
        .level-item
          .steps-actions
            .steps-action
            %a.button.is-primary{'v-on:click':'prevForm()', 'v-bind:disabled':'formIndex==0'} Poprzedni
      .level-right
        .level-item
          .steps-actions
            .steps-action
            %a.button.is-primary{'v-on:click':'nextForm()', 'v-bind:disabled':'formIndex==3'} Następny