= javascript_pack_tag 'signup_form'
#signup-form.registration
  = render 'devise/registrations/steps'
  .level
    .level-item
      .container
        = render 'devise/registrations/user_form'
  .container
    .level
      .container
        .level-left
          .level-item
            .steps-actions
              .steps-action
              %a.button.pagination-previous.is-current{'v-on:click':'prevForm()', 'v-bind:disabled':'formIndex==0', 'v-if':'formIndex<3'} Poprzedni
      .container
        .level-right
          .level-item
            .steps-actions
              .steps-action
              %a.button.pagination-next{'v-on:click':'nextForm()', 'v-bind:disabled':'formIndex==3', 'v-if':'formIndex<3'} Następny