.modal{'v-bind:class': "{ 'is-active': isAddingStudyInterests }"}
  .modal-background
  .modal-card
    %header.modal-card-head
      %p.modal-card-title Dodaj kierunek studiów
      %button.delete{ type: 'button', 'v-on:click':'closeStudyInterestForm()'}
    %section.modal-card-body
      .field
        %label.label Użytkownik
        .control
          %input.input{ disabled: true, value: current_user.username }
        = f.hidden_field :user_id, value: current_user.id
      .field
        %label.label Kierunek studiów
        .select
          = f.select(:field_of_study_id, FieldOfStudy.all.collect {|field| [field.name, field.id]})
    %footer.modal-card-foot
      %button.button.is-success{ 'v-on:click':'submitStudyInterestForm()' } Zapisz
      %button.button.is-danger{ type: 'button', 'v-on:click':'closeStudyInterestForm()' } Anuluj