%h1.title Panel administracyjny
.container
  .tile.is-ancestor
    .tile.is-vertical.is-8
      .tile
        .tile.is-parent.is-vertical
          %article.tile.is-child.notification.is-info
            %span.icon
              %i.fas.fa-graduation-cap
            %p.title Dodaj kierunek studiów
          %article.tile.is-child.notification.is-primary
            %span.icon
              %i.fas.fa-university
            %p.title Dodaj uczelnie
        .tile.is-parent
          %article.tile.is-child.notification.is-warning
            %span.icon
              %i.fas.fa-user-graduate
            %p.title Dodaj szczegóły kierunku
            %article.message.is-danger
              .message-body
                %p Użyj generatora do utworzenia wzoru rekrutacyjnego i upewnij się, że jest on poprawny!
      .tile.is-parent
        %article.tile.is-child.notification.is-info
          %span.icon
            %i.fas.fa-school
          %p.title Dodaj szkołę
    .tile.is-parent
      %article.tile.is-child.message.is-danger
        .message-header 
          %p Wskazówki
        .message-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Tempus quis placerat ut, porta nec nulla. 
          Vestibulum rhoncus ac ex sit amet fringilla. 
          Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
          arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.
