@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900&display=swap');
@import "variables";

.ant-layout {
  overflow: hidden;
}

.Footer {
  text-align: center;
}

.Fields {
  padding: 3rem 1rem 1rem 1rem;

  &_Array {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
  }
}

.Academies {
  padding: 3rem 1rem 1rem 1rem;

  &_Array {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
  }
}