%article.message.is-info
  .message-header
    %p Info
  .message-body
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Tempus quis placerat ut, porta nec nulla. 
    Vestibulum rhoncus ac ex sit amet fringilla. 
    Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
    arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque.