.level{ :style => 'margin-top: 25px;'}
  .level-item
    %h1.title Załóż konto
.level{ :style => 'margin-top: 25px; margin-bottom: 25px;'}
  .level-item
    .container
      .steps
        .step-item.is-active
          .step-marker
            %span.icon
              %i.fa.fa-check
          .step-details
            %p.step-title Krok 1
            %p Wprowadź swoje dane logowania.
        .step-item.is-active
          .step-marker
          .step-details
            %p.step-title Krok 2
            %p Wprowadź podstawowe dane na temat swojej edukacji.
        .step-item.is-active
          .step-marker
          .step-details
            %p.step-title Krok 3
            %p Wprowadź wyniki matur oraz interesujące Cię kierunki studiów.
        .step-item.is-active
          .step-marker
          .step-details
            %p.step-title Krok 4
            %p Twoje konto zostało utworzone.
.level
  .level-item
    .container
      .columns.is-vcentered
        .column.is-one-third
          %article.message.is-info
            .message-header
              %p Info
            .message-body
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Tempus quis placerat ut, porta nec nulla. 
              Vestibulum rhoncus ac ex sit amet fringilla. 
              Nullam gravida purus diam, et dictum. Aenean ac, in mollis lectus. Donec sodales, 
              arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. 
        .column.is-two-thirds
          = render 'users/form'
.level
  .container
    .level-left
      .level-item
        .steps-actions
          .steps-action
          %a.button.is-primary{ :href=> "#" } Poprzedni
    .level-right
      .level-item
        .steps-actions
          .steps-action
          %a.button.is-primary{ :href=> "#" } Następny