#signup-form
  = render 'users/steps'
  .level
    .level-item
      .container
        .columns.is-vcentered
          .column.is-one-third
            = render 'users/info_box' 
          .column.is-two-thirds
            = render 'users/user_form'
  .level
    .container
      .level-left
        .level-item
          .steps-actions
            .steps-action
            %a.button.is-primary{'v-on:click':'prevForm()', 'v-bind:disabled':'formIndex==0'} Poprzedni
      .level-right
        .level-item
          .steps-actions
            .steps-action
            %a.button.is-primary{'v-on:click':'nextForm()', 'v-bind:disabled':'formIndex==3'} Następny