@import '../../variables';

.LoginForm {
  &_SubmitButton {
    text-align: center;
    font-size: 13pt;
    line-height: 3rem;
    font-family: "Saira", sans-serif;
    color: $white !important;
    background-color: $primary-dark !important;
    width: 100%;
    height: 3rem;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}