@import "../../variables";

.InterestCard {
  position: relative;
  flex: 1;
  margin: .5rem;
  background-color: $primary-dark;
  height: 8vh;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;

  &_Name {
    &_Container {
      margin: 10px 0 0 20px;
    }

    &_Text {
      font-family: $main-font-family;
      color: $white;
      font-size: 16pt;
    }
  }

  &_City {
    &_Container {
      padding: 0 0 20px 0;
      margin-left: 20px;
    }

    &_Text {
      font-family: $main-font-family;
      color: $white;
      font-size: 10pt;
    }
  }

  &_Button {
    &_Container {
      height: 100%;
      text-align: center;
      padding-top: 1rem;
      background-color: $accent;

      p {
        font-family: $main-font-family;
        color: $white;

        &.result {
          font-size: 21pt;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &_Icon {
      color: $white !important;
      font-size: 20pt;
    }
  }
}