- unless page.current?
  = link_to page, url, {remote: remote, rel: page.rel, class: 'pagination-link', method: :get}
- else
  = link_to page, url, {remote: remote, rel: page.rel, class: 'pagination-link is-current', method: :get}
