@import '../../variables.scss';

.BasicLayout {
  height: 100vh;

  &_Sider {
    background-color: $primary-dark !important;

    &_Menu {
      margin-top: 6vh !important;
      border: none !important;
      background: none !important;
      height: 90vh !important;

      &Item {
        height: 5vh !important;
        line-height: 40pt !important;
        font-family: $main-font-family !important;
        font-size: 12pt !important;
        text-align: center !important;
        color: $white !important;
        background-color: rgba($dark, .3) !important;

        &.ant-menu-item-selected {
          background-color: rgba($primary-light, .3) !important;
        }

        &:last-child {
          position: absolute;
          top: 75vh !important;
          background-color: rgba($accent, .3) !important;
        }
      }
    }
  }
}