$light: #e8f7ee;
$dark: #444545;
$dark_blue: #020024;
$primary: #b5ffe9;
$secondary: #c9d6ea;
$link: #acbdba;
$text: $dark;
$text-lighter: #54555f;
$background: $light;

$footer-background-color: $light;
$body-background-color: $secondary;
$box-background-color: $link;
$box-color: $text-lighter;
$table-background-color: $light;
$button-text-color: $text-lighter;

li.list-item {
  background-color: $light;
}

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma-extensions";
@import "bulma";

.notification.is-primary {
  color: $dark;
}

.button.is-primary {
  color: $text-lighter;
}

a {
  text-decoration: none !important;
}

.navbar {
  background: $dark_blue;

  .register_button {
    color: $primary !important;
    font-weight: bold;
    -webkit-transition: background-color 1s, color 1s ease-out;
    -moz-transition: background-color 1s, color 1s ease-out;
    -o-transition: background-color 1s, color 1s ease-out;
    transition: background-color 1s, color 1s ease-out;
  }

  .register_button:hover {
    color: $dark !important;
    font-weight: bold;
  }

  .navbar-item {
    color: $light;
    -webkit-transition: background-color 1s, color 1s ease-out;
    -moz-transition: background-color 1s, color 1s ease-out;
    -o-transition: background-color 1s, color 1s ease-out;
    transition: background-color 1s, color 1s ease-out;
  }

  .navbar-item:hover {
    color: $dark;
  }
}

#bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

@media (max-width: 767px) {
  #bg_video {
    display: none !important;
  }
}

#homepage_content {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.7) 0%,
    rgba(201, 214, 234, 0.7) 45%,
    rgba(181, 255, 233, 0.7) 100%
  );
  color: #f1f1f1;
}

#teaser {
  background: linear-gradient(
    70deg,
    rgba(232, 247, 238, 0.9) 0%,
    rgba(201, 214, 234, 0.9) 100%
  );
}
