#formula-generator
  .columns.is-vcentered#formula-generator
    .column.is-2
      .field
        %label.label
          Przedmioty maturalne
        .control
          .select.is-multiple
            %select{ multiple: true, size: 2, 'v-model':'subjects' }
              - MaturaSubject.all.each do |m|
                %option{ value: m.name }= m.name
    .column.is-2
      %label.label
        Poziom podstawowy
      .control
        %input.input{ type: 'number', 'v-model':'basic_ratio' }
    .column.is-2
      %label.label
        Poziom rozszerzony
      .control
        %input.input{ type: 'number', 'v-model':'advanced_ratio' }
    .column
      %article.message.is-warning
        .message-header
          %p Formuła rekrutacyjna
        .message-body
          {{ formula }}
  %button.button.is-success{'v-on:click':'generateFormula()', type: 'button'}
    Dodaj