@import '../../variables.scss';

.FieldPage {
  padding: 2rem;

  &_Name {
    &_Container {
      text-align: left;
      margin-bottom: 1rem;
    }

    &_Text {
      font-family: $main-font-family;
      font-size: 24pt;
    }
  }

  &_InterestButton {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.add {
      background-color: $primary-light;
    }

    &.remove {
      background-color: $accent;
    }

    &_Text {
      font-family: $main-font-family;
      color: $dark;
      font-size: 14pt;

      &.add {
        color: $primary-dark;
      }

      &.remove {
        color: $white;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_Description {
    &_Container {
      height: 30vh;
      text-align: justify;
      margin-bottom: 1rem;
      overflow-y: auto;
    }

    &_Text {
      font-family: $main-font-family;
      font-size: 13pt;
    }
  }

  &_Academies {
    &_Title {
      font-family: $main-font-family;
      font-size: 24pt;
    }

    &_Container {
      height: 35vh;
      overflow-y: auto;
      margin-bottom: 1rem;
    }
  }

  &_Reviews {
    &_Title {
      font-family: $main-font-family;
      font-size: 24pt;
    }

    &_Container {
      max-height: 45vh;
      overflow-y: auto;
    }
  }

  &_Subjects {
    &_Title {
      font-family: $main-font-family;
      font-size: 24pt;
    }

    &_Container {
      height: 18vh;
      margin-bottom: 1rem;
    }
  }

  &_Compass {
    &_Title {
      font-family: $main-font-family;
      font-size: 24pt;
    }

    &_Container {
      height: 18vh;
      background-color: red;
    }
  }
}

